name: my ci

on:
  push:
    branches:
      - main
  page_build:
    branches:
      - main
permissions:
  id-token: write
  contents: read

jobs:
  my-super-ci:
    runs-on: ubuntu-latest
    steps:
      - name: say hello
        run: echo "hello from github actions"

      - name: checkout repository
        uses: actions/checkout@v4


      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Maven
        run: mvn -f ./applications/user-service-java/user-service/pom.xml clean package -DskipTests

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::909177772578:role/githu-idp
          aws-region: eu-west-3

      - name: login to amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: build tag and push docker image to amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: testspace/devops
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./applications/user-service-java/user-service
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


